# App configuration
APP_NAME=
APP_ENV=development
PORT=6969

# Database configuration
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_HOST=localhost
DB_PORT=5432
DB_SSLMODE=disable

# JWT configuration
JWT_SECRET=your-jwt-secret
JWT_SECRET_VERIFY_EMAIL=secret_email

# AWS configuration
AWS_REGION=us-west-2
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_S3_BUCKET=your-bucket-name

# Email
RESEND_API_KEY=
NOREPLY_EMAIL=

FRONTEND_URL=
BACKEND_URL=

# Semicolon separated list of domains allowed by cors
CORS=

# SPUR wallet configuration
SPUR_WALLET_ADDRESS=0x000000000000000000000000000000000000dEaD

# SpurCoin blockchain configuration
SPURCOIN_CONTRACT_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3
PROJECT_FUNDING_CONTRACT_ADDRESS=0xe7f1725E7734CE288F8367e1Bb143E90bb3F0512
BLOCKCHAIN_RPC_URL=http://127.0.0.1:8545
